In [152]:
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd

In [153]:
class LinearRegression:

    def __init__(self, lr = 0.05, n_iters=1000):
        self.lr = lr
        self.n_iters = n_iters
        self.weights = None
        self.bias = None

    def fit(self, X, Y):
        n_samples, n_features = X.shape
        self.weights = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.n_iters):
            y_pred = np.dot(X, self.weights) + self.bias

            dw = (1/n_samples) * np.dot(X.T, (y_pred-Y))
            db = (1/n_samples) * np.sum(y_pred-Y)

            self.weights = self.weights - self.lr * dw
            self.bias = self.bias - self.lr * db

    def predict(self, X):
        y_pred = np.dot(X, self.weights) + self.bias
        return y_pred

In [154]:
dataset = pd.read_csv('linear_regression_dataset.csv')
dataset.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [155]:
dataset.shape

(500, 6)

In [156]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     500 non-null    int64
 1   FEMALE  500 non-null    int64
 2   LOS     500 non-null    int64
 3   RACE    499 non-null    float64
 4   TOTCHG  500 non-null    int64
 5   APRDRG  500 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 23.6 KB

In [157]:
dataset.isnull().sum()

AGE       0
FEMALE    0
LOS       0
RACE      1
TOTCHG    0
APRDRG    0
dtype: int64

In [159]:
dataset['RACE']=dataset['RACE'].replace(np.nan,0)

In [160]:
dataset.isnull().sum()

AGE       0
FEMALE    0
LOS       0
RACE      0
TOTCHG    0
APRDRG    0
dtype: int64

In [175]:
titles=list(dataset.columns)
titles

['AGE', 'FEMALE', 'LOS', 'RACE', 'APRDRG', 'TOTCHG']

In [176]:
titles[4],titles[5] = titles[5],titles[4]
titles

['AGE', 'FEMALE', 'LOS', 'RACE', 'TOTCHG', 'APRDRG']

In [177]:
dataset=dataset[titles]
dataset

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0     17       1    2   1.0    2660     560
1     17       0    2   1.0    1689     753
2     17       1    7   1.0   20060     930
3     17       1    1   1.0     736     758
4     17       1    1   1.0    1194     754
..   ...     ...  ...   ...     ...     ...
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

[500 rows x 6 columns]

In [168]:
reg = LinearRegression(lr=0.01)
X = dataset.iloc[:, :-1] #all columns except last
Y = dataset.iloc[:, -1] #only last column
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1234)

In [ ]:
reg.fit(X_train,Y_train)
predictions = reg.predict(X_test)